.back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./reserva.webp");
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.historial-container {
    z-index: 20;
    position: relative;
    padding: 2rem;
    color: white;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logout-button {
  margin-left: 1rem;
  background: #c76c6c;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.reservas-table {
  width: 100%;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border-radius: 8px;
  overflow: hidden;
}

.reservas-table th,
.reservas-table td {
  padding: 0.75rem;
  text-align: center;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fdd835;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
